*.sublime-workspace
.DS_Store
/build/*
/vendor/
npm-debug.log
nypwidget-*
testing.sh
TODO
js/pricewaiter/*js
node_modules
package.xml
**/pwconfig.local.php

# /lib is a good place to stash Magento source for voluming in.
/lib

# To edit GH wiki locally: git clone git@github.com:pricewaiter/magento-dev.wiki.git wiki
/wiki

# AES Encryption Key for Codeship
codeship.aes
