<?xml version="1.0" encoding="utf-8"?>
<config>

    <modules>
        <PriceWaiter_NYPWidget>
            <version>3.1.1</version>
        </PriceWaiter_NYPWidget>
    </modules>

    <global>
        <models>
            <nypwidget>
                <class>PriceWaiter_NYPWidget_Model</class>
                <resourceModel>nypwidget_mysql4</resourceModel>
            </nypwidget>
            <nypwidget_mysql4>
                <class>PriceWaiter_NYPWidget_Model_Mysql4</class>
                <entities>
                    <category>
                        <table>nypwidget_category</table>
                    </category>
                    <order>
                        <table>nypwidget_orders</table>
                    </order>
                    <deal>
                        <table>nypwidget_deal</table>
                    </deal>
                    <deal_usage>
                        <table>nypwidget_deal_usage</table>
                    </deal_usage>
                </entities>
            </nypwidget_mysql4>
            <nypwidget_category>
                <class>PriceWaiter_NYPWidget_Model_Category</class>
                <resourceModel>nypwidget_mysql4_category</resourceModel>
            </nypwidget_category>
            <nypwidget_mysql4_category>
                <class>PriceWaiter_NYPWidget_Model_Mysql4_Category</class>
            </nypwidget_mysql4_category>
        </models>
        <helpers>
            <nypwidget>
                <class>PriceWaiter_NYPWidget_Helper</class>
            </nypwidget>
        </helpers>
        <blocks>
            <nypwidget>
                <class>PriceWaiter_NYPWidget_Block</class>
            </nypwidget>
        </blocks>
        <resources>
            <nypwidget_setup>
                <setup>
                    <module>PriceWaiter_NYPWidget</module>
                    <class>PriceWaiter_NYPWidget_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nypwidget_setup>
            <nypwidget_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nypwidget_write>
            <nypwidget_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nypwidget_read>
        </resources>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <adminhtml_catalog_category_tabs_pricewaiter>
                        <type>model</type>
                        <class>nypwidget/observer</class>
                        <method>addTab</method>
                        <args></args>
                    </adminhtml_catalog_category_tabs_pricewaiter>
                </observers>
            </adminhtml_catalog_category_tabs>
            <admin_system_config_changed_section_pricewaiter>
                <observers>
                    <admin_system_config_changed_section_pricewaiter>
                        <type>model</type>
                        <class>nypwidget/observer</class>
                        <method>handleConfigurationSave</method>
                        <args></args>
                    </admin_system_config_changed_section_pricewaiter>
                </observers>
            </admin_system_config_changed_section_pricewaiter>
            <catalog_category_prepare_save>
                <observers>
                    <catalog_category_prepare_save_pricewaiter>
                        <type>model</type>
                        <class>nypwidget/observer</class>
                        <method>saveCategory</method>
                        <args></args>
                    </catalog_category_prepare_save_pricewaiter>
                </observers>
            </catalog_category_prepare_save>
            <customer_logout>
                <observers>
                    <customer_logout_pricewaiter>
                        <type>model</type>
                        <class>nypwidget/observer</class>
                        <method>handleCustomerLogout</method>
                        <args></args>
                    </customer_logout_pricewaiter>
                </observers>
            </customer_logout>
            <sales_model_service_quote_submit_success>
                <observers>
                    <sales_model_service_quote_submit_success_pricewaiter>
                        <type>model</type>
                        <class>nypwidget/observer</class>
                        <method>tieOrderToPriceWaiterDeals</method>
                        <args></args>
                    </sales_model_service_quote_submit_success_pricewaiter>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <sales>
            <quote>
                <totals>
                    <pricewaiter>
                        <class>nypwidget/total_quote</class>
                        <after>discount,subtotal</after>
                        <before>grand_total</before>
                    </pricewaiter>
                </totals>
            </quote>
        </sales>
    </global>

    <frontend>
        <layout>
            <updates>
                <nypwidget>
                    <file>pricewaiter.xml</file>
                </nypwidget>
            </updates>
        </layout>
        <routers>
            <nypwidget>
                <use>standard</use>
                <args>
                    <module>PriceWaiter_NYPWidget</module>
                    <frontName>pricewaiter</frontName>
                </args>
            </nypwidget>
            <pricewaiter_deal>
                <use>standard</use>
                <args>
                    <module>PriceWaiter_NYPWidget</module>
                    <frontName>_dealpw</frontName>
                </args>
            </pricewaiter_deal>
        </routers>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <nypwidget>
                    <file>pricewaiter.xml</file>
                </nypwidget>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <PriceWaiter_NYPWidget after="Mage_Adminhtml">PriceWaiter_NYPWidget</PriceWaiter_NYPWidget>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <pricewaiter>
            <configuration>
                <enabled>0</enabled>
            </configuration>
            <orders>
                <default_status>processing</default_status>
                <log>1</log>
            </orders>
            <customer_groups>
                <disable>0</disable>
                <group_select>0</group_select>
            </customer_groups>
            <conversion_tools>
                <enabled>1</enabled>
                <customer_group_disable>0</customer_group_disable>
                <disable_by_category>1</disable_by_category>
            </conversion_tools>
            <appearance>
                <display_size>1</display_size>
                <display_color>5F82D4</display_color>
                <display_hover_color>739DFF</display_hover_color>
            </appearance>
            <customer_interaction>
                <send_welcome_email>0</send_welcome_email>
                <send_new_order_email>0</send_new_order_email>
            </customer_interaction>
            <categories>
                <disable_by_category>1</disable_by_category>
            </categories>
        </pricewaiter>
        <payment>
            <nypwidget>
                <active>1</active>
                <model>nypwidget/paymentMethod</model>
                <order_status>pricewaiter_processing</order_status>
                <title>PriceWaiter Payment</title>
                <allowspecific>0</allowspecific>
            </nypwidget>
        </payment>
        <carriers>
            <nypwidget>
                <active>1</active>
                <allowed_methods>delivery</allowed_methods>
                <methods>delivery</methods>
                <allowspecific>0</allowspecific>
                <model>PriceWaiter_NYPWidget_Model_Carrier_ShippingMethod</model>
                <name>PriceWaiter Shipping Method</name>
                <title>PriceWaiter Shipping Method</title>
                <type>O</type>
                <handling_type>F</handling_type>
            </nypwidget>
        </carriers>
    </default>

</config>
